@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-white text-gray-800;
}

.font-montserrat {
  font-family: var(--font-montserrat);
}

.font-inter {
  font-family: var(--font-inter);
}